.clearfix.hidden-md-up{
    display: none;
}
tbody tr:hover > td{
   color: #6c757d !important;
}
.product-item .bg-secondary{
    font-size: 15px;
    text-transform: uppercase;
    z-index: 22222;
}
.content-wrapper .badge-secondary{
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-primary{
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-warning{
    color: #ffc107;
    background-color: transparent;
    border: 1px solid #ffc107;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-success{
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-light{
    color: #f8f9fa;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    font-size: 15px;
    text-transform: uppercase;
}
a.product-title{
    font-size: 32px;
    text-decoration: none;
}
.user-image{
    border-radius: 50%;
    width: 50px;
}
