.clearfix.hidden-md-up{
    display: none;
}
tbody tr:hover > td{
   color: #6c757d !important;
}
.product-item .bg-secondary{
    font-size: 15px;
    color: #ffffff !important;
    padding: 8px;
    z-index: 1;
    background: #D19C97 !important;
    text-transform: uppercase;
    border-color: #D19C97 !important;
}
.content-wrapper .badge-secondary{
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-primary{
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-warning{
    color: #ffc107;
    background-color: transparent;
    border: 1px solid #ffc107;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-success{
    color: #28a745;
    background-color: transparent;
    border: 1px solid #28a745;
    font-size: 15px;
    text-transform: uppercase;
}
.content-wrapper .badge-light{
    color: #f8f9fa;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    font-size: 15px;
    text-transform: uppercase;
}
a.product-title{
    font-size: 32px;
    text-decoration: none;
}
.user-image{
    border-radius: 50%;
    width: 50px;
}
.item-tumb{
    width: 50px;
    height: 30px;
    margin-right: 20px;
}
.total{
    font-weight: 700;
}
.total .price{
    float: right;
}
.subtotal .price{
    float: right;
}
.cart-item-desc .icon-trash{
    padding: 5px;
    background: #e9d4d2;
    border-radius: 50%;
}
.cart-item-desc .icon-trash:hover{
    padding: 5px;
    background: #c5837c;
    border-radius: 50%;
}
.cart-list ul.dropdown-menu.show{
    left: -50px !important;
}
